<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sunghs.rest.api.mapper.UserMapper">
    <select id="selectUserInfo" resultType="sunghs.rest.api.model.UserInfo">
    SELECT seq,
    user_id as userId,
    user_password as userPassword,
    user_name as userName,
    user_address1 as userAddress1,
    user_address2 as userAddress2
    FROM user_info
    WHERE user_id = #{userId}
    </select>

    <insert id="insertUserInfo">
    INSERT INTO user_info(
        user_id, user_password, user_name, user_address1, user_address2
    )
    VALUES (
        #{userId}, #{userPassword}, #{userName}, #{userAddress1}, #{userAddress2}
    )
    </insert>
</mapper>